#bg1 {
    background-image: url(../images/2018animeNight.jpeg);
    width: 70%;
    height: 600px;
	left: 30%;
	top: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.container1{
	position: absolute;
	width: 400px;
	height: 400px;
	background-color: white;
	left: 10%;
	z-index: 9;
	top: 110px;
	background-image: url(../images/SRlogo.jpg);
}
.container1 h1{
	text-align: center;
}
.container1 .shuoming{
	width: 300px;
	position: absolute;
	height: 300px;
	left: 50px;
}
.topName{
	height: 150px;
	
}
.topName .nav1{
	position: absolute;
	top: 40px;
	left: 600px;
	
	color: darkgray;
}

.nav1{
    text-align: center;
}
.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

}
section{
	background-image: url(../images/middle-cover.jpg);
}
.gezhong{
	height: 500px;
	width: 1200px;
	position: relative;
}
.gezhong .qita{
	width: 600px;
	height: 500px;
	position: relative;
	top: 30px;
	left: 3%;
}
.gezhong .qita img{
	width: 600px;
	height: 400px;
	position: absolute;
	float: left;
}
.gezhong ul{
	width:600px;
	height: 500px;
	position: absolute;
	
}

.gezhong ul li{
	position: relative;
	float: right;
	display: inline-block;
	height: 500px;
	width: 300px;
	top: 50px;
}
.gezhong ul li a img{
	position: absolute;
	width: 300px;
	height: 300px;
}



@media only screen and (max-width: 1600px) {}

@media only screen and (max-width:1440px) {}

@media only screen and (max-width:1380px) {}

@media only screen and (max-width:1280px) {}

@media only screen and (max-width: 1210px) {}

@media only screen and (max-width:1100px) {}

@media only screen and (max-width:1024px) {}

@media only screen and (max-width:991px) {}

@media only screen and (max-width:959px) {}

@media only screen and (max-width:767px) {}

@media only screen and (max-width:575px) {}

@media only screen and (max-width:480px) {}
