#bg1 {
    background-image: url(../images/2018animeNight.jpeg);
    width: 70%;
    height: 600px;
	left: 30%;
	top: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.container1{
	position: absolute;
	width: 400px;
	height: 400px;
	background-color: white;
	left: 10%;
	z-index: 9;
	top: 110px;
	background-image: url(../images/SRlogo.jpg);
}
.container1 h1{
	text-align: center;
}
.container1 .shuoming{
	width: 300px;
	position: absolute;
	height: 300px;
	left: 50px;
}
.topName{
	height: 150px;
	
}
.topName .nav1{
	position: absolute;
	top: 40px;
	left: 600px;
	
	color: darkgray;
}

.nav1{
    text-align: center;
}
.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

}
section{
	background-image: url(../images/middle-cover.jpg);
}
.gezhong{
	height: 550px;
	width: 1500px;
	position: relative;
	overflow: hidden;
}
.gezhong .qita{
	width:40%;
	height: 500px;
	position: relative;
	overflow: hidden;
	top: 30px;
	left: 7%;
}
.gezhong .qita img{
	width: 600px;
	height: 400px;
	position: absolute;
	float: left;
	
}

.gezhong .qita .imgxia{
	width: 100%;
	height: 100px;
	background-color:rgb(51,51,51);
	color: white;
	position: relative;
	top: 400px;
}
.gezhong .qita .imgxia h4{
	color: white;
	font-size: 25px;
	text-align: center;
}
.gezhong .qita .imgxia span{
	margin: 25%;
	color: rgb(153,153,153);
}
.gezhong ul{
	width:700px;
	height: 500px;
	position: absolute;
	right:5%;
	top: 0;
}

.gezhong ul li{
	position: relative;
	float: right;
	display: inline-block;
	height: 250px;
	width: 250px;
	top: 30px;
	overflow: hidden;
	margin-right: 60px; 
}

.gezhong ul li a img{
	position: absolute;
	width: 250px;
	height: 200px;
}
.gezhong ul li .pic2{
	height: 50px;
	width: 250px;
	background-color:rgb(51,51,51);
	position: relative;
	top: 200px;
}
.gezhong ul li .pic2 h5{
	color: white;
	font-size: 15px;
	text-align: center;
}
.gezhong ul li .pic2 span{
	margin-left: 30%;

}



@media only screen and (max-width: 1600px) {}

@media only screen and (max-width:1440px) {}

@media only screen and (max-width:1380px) {}

@media only screen and (max-width:1280px) {}

@media only screen and (max-width: 1210px) {}

@media only screen and (max-width:1100px) {}

@media only screen and (max-width:1024px) {}

@media only screen and (max-width:991px) {}

@media only screen and (max-width:959px) {}

@media only screen and (max-width:767px) {}

@media only screen and (max-width:575px) {}

@media only screen and (max-width:480px) {}
